<div style="height: 28rem !important">
  <h1 class="text-light">{{title}}</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>State</th>
        <th><input type="text" class="input" placeholder="Search..." [(ngModel)]="filter"></th>
      </tr>
    </thead>
    <tbody class="m-auto">
      <tr *ngFor="let book of books | stringFilter: filter | paginate: config">
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td [ngStyle]="calculateStyles(book.state)">{{ book.state }}</td>
        <td><a [routerLink]="['/book-details', book._id]">Show Detail</a></td>
      </tr>
    </tbody>
  </table>
</div>
<pagination-controls
  [id]="config.id"
  [maxSize]="maxSize"
  [directionLinks]="directionLinks"
  [autoHide]="autoHide"
  [previousLabel]="labels.previousLabel"
  [nextLabel]="labels.nextLabel"
  (pageChange)="onPageChange($event)">
</pagination-controls>
<nav class="btn-floating">
  <a [routerLink]="['/book-create']" class="buttons" tooltip="Add" href="#"></a>
</nav>
