<div class="container">
  <h1>Edit Book</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="updateBook(book._id)" #bookForm="ngForm">
        <div class="form-group">
          <label for="name">Title</label>
          <input type="text" class="form-control" [(ngModel)]="book.title" name="title" required>
        </div>
        <div class="form-group">
          <label for="name">Author</label>
          <input type="text" class="form-control" [(ngModel)]="book.author" name="author" required>
        </div>
        <div class="form-group">
          <label for="name">Language</label>
          <input type="text" class="form-control" [(ngModel)]="book.language" name="language" disabled="disabled">
          <select placeholder="Select" [(ngModel)]="book.language"  required>
            <option [value]="english">Inglés</option>
            <option [value]="spanish">Español</option>
            <option [value]="french">Francés</option>
          </select>
        </div>
        <div class="form-group">
          <label for="name">Editorial</label>
          <input type="text" class="form-control" [(ngModel)]="book.editorial" name="editorial" required>
        </div>
        <div class="form-group">
          <label for="name">State</label>
          <!-- <input type="text" class="form-control" [(ngModel)]="book.publisher" name="publisher" required> -->
          <select placeholder="Select" [(ngModel)]="book.state"  required>
            <option [value]="active">Activo</option>
            <option [value]="inactive">Inactivo</option>
          </select>
        </div>
        <div class="row">
          <div class="col-md-12 form-group">
            <button type="submit" class="btn btn-success" [disabled]="!bookForm.form.valid">Update</button>
            <a [routerLink]="['/books']" class="btn btn-warning">CANCEL</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
