<div style="height: 28rem !important">
  <h1 class="text-light">{{title}}</h1>
  <table class="table">
    <thead>
      <tr>
        <th>NID</th>
        <th>Name</th>
        <th>E-mail</th>
        <th><input type="text" class="input" placeholder="Search..." [(ngModel)]="filter"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | stringFilter: filter | paginate: config ">
        <td>{{ user.nid }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td><a [routerLink]="['/user-details', user.nid]">Show Detail</a></td>
      </tr>
    </tbody>
  </table>
</div>
<pagination-controls
  [id]="config.id"
  [maxSize]="maxSize"
  [directionLinks]="directionLinks"
  [autoHide]="autoHide"
  [previousLabel]="labels.previousLabel"
  [nextLabel]="labels.nextLabel"
  (pageChange)="onPageChange($event)">
</pagination-controls>
<nav class="btn-floating">
  <a [routerLink]="['/user-create']" class="buttons" tooltip="Add" href="#"></a>
</nav>
