<div style="height: 28rem !important">
  <h1 class="text-light">User List
    <a [routerLink]="['/user-create']" class="btn btn-default btn-lg">
      <span  class="btn font-weight-bold" style="font-size: 2em" aria-hidden="true">+</span>
    </a>
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th>NID</th>
        <th>Name</th>
        <th>E-mail</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | paginate: { itemsPerPage: 5, currentPage: p }">
        <td>{{ user.nid }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td><a [routerLink]="['/user-details', user.nid]">Show Detail</a></td>
      </tr>
    </tbody>
  </table>
</div>
<pagination-controls
  (pageChange)="p = $event">
</pagination-controls>
