<div class="row">
  <h1 class="text-light">User List</h1>
    <a [routerLink]="['/user-create']" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-plus" aria-hidden="true">+</span>
    </a>

  <table class="table">
    <thead>
      <tr>
        <th>NID</th>
        <th>Name</th>
        <th>E-mail</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.nid }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td><a [routerLink]="['/user-details', user.nid]">Show Detail</a></td>
      </tr>
    </tbody>
  </table>
</div>
